<section class="shoes-posts">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <h1 class="shoesposts">靴投稿一覧</h1>
          <div class="shoes-list">
            <%= search_form_for @search, url: shoes_posts_path do |f| %>
              <%= f.text_field :shoes_name_or_brand_name_cont ,placeholder: '' %>
              <%= f.submit ("検索") , class: 'search-btn'%>
            <% end %>
            <br>
            <% if @search_shoes_posts.any? %>
              <% @search_shoes_posts.each do |shoes_post| %>
                <%= link_to shoes_post_path(shoes_post.id) do %>
                  <%= attachment_image_tag shoes_post, :shoes_image, :fill, 300, 300 %>
                  <div class="name">
                    <p>靴名
                      <%= shoes_post.shoes_name.truncate(23) %>
                    </p>
                    <hr>
                <% end %>
                    <p>ブランド名
                      <%= shoes_post.brand_name.truncate(23) %>
                    </p>
                  </div>
                  <hr>
                  <span>
                    <%= shoes_post.shoes_comments.count %>コメント
                  </span>
                  <span>
                    <%= shoes_post.shoes_favorites.count %>いいね
                  </span>
                  <hr>
                    <p>
                      <%= attachment_image_tag shoes_post.user, :profile_image, :fill, 60, 60, fallback: "noimage.jpg", size:'60x60', class: "img-circle pull-left profile-thumb" %>
                    </p>
                    <%= link_to user_path(shoes_post.user) do %>
                      <p>投稿者：<%= shoes_post.user.name %></p>
                    <% end %>
                    <p>投稿日：
                      <%= shoes_post.created_at.strftime("%Y年%m月%d日%H時%M分") %>
                    </p>
                    <hr>
                    <br>
                    <br>
                    <br>
              <% end %>
              <% else %>
                <h1>キーワードを含む靴を検索できませんでした</h1>
              <% end %>
              <%= paginate @shoes_posts %>
          </div>
      </div>
    </div>
  </div>
</section>