<!--コメント一覧-->
          <ol>
            <h2>みんなのコメント</h2>
            <% shoes_post.shoes_comments.each do |shoes_comment| %>
                <div class="comment-body bb">
                  <div class="comment-avatar">
                    <div class="avatar">
                      <%= attachment_image_tag shoes_comment.user,:profile_image, class: "img-circle pull-left profile-img", fallback:'noimage.jpg', size: '30x30' %>
                    </div>
                  </div>
                  <div class="comment-text">
                    <div class="comment-author clearfix">
                      <%= link_to user_path(shoes_comment.user) do %>
                        <p><%= shoes_comment.user.name %></p>
                      <% end %>
                      <span class="comment-meta">
                        <span class="comment-date"><%= shoes_comment.created_at.strftime("%Y年%m月%d日%H時%M分") %></span>
                      </span>
                    </div>
                    <div class="comment-entry"><%= Rinku.auto_link(shoes_comment.comment, :all, 'target="_blank"').html_safe %></div>

                    <% if shoes_comment.user == current_user %>
                      <div>
                        <%= link_to "コメント削除", shoes_post_shoes_comment_path(shoes_comment.shoes_post, shoes_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
                      </div>
                    <% end %>
                    <br>
                    <hr class= "commentline">
                  </div>
                </div>
            <% end %>
          </ol>
          <!--コメント本文ここまで-->
          <!--コメント入力フォーム-->
          <br>
          <%= form_with(model:[shoes_post, shoes_comment], data: {remote: true}) do |f| %>
            <div class="row">
              <div class="col-sm-12">
                <%= f.text_area :comment, rows:'5', class: "form-control", id: "comment_textarea", placeholder: "コメントをここに" %>
              </div>
            </div>
            <br>
            <%= f.submit "コメントする", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
          <% end %>
          <!--コメント入力フォームここまで-->
