<h1>ユーザー情報変更</h1>

<%= form_with model:@user, local:true do |f| %>
    <%= f.label :ユーザー名 %>
    <%= f.text_field :name, autofocus: true, class:"form-control" %>
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, class:"form-control" %>

    <%= f.submit "登録", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>
